@import "tailwindcss";


@tailwind utilities;


.prompt-regular {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: italic;
}

.edu-au-vic-wa-nt-guides {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 425;
  font-style: italic;
}

